{% extends "connexion/base.html.twig" %}

{% block title %}Reset your password
{% endblock %}

{% block form %}
	<h1 class="card-title text-center">Reset your password</h1>
	{% for flash_error in app.flashes('reset_password_error') %}
		<div class="alert alert-danger" role="alert">{{ flash_error }}</div>
	{% endfor %}
	{{ form_start(requestForm) }}
	<div class="mb-3">
		{{ form_row(requestForm.email) }}
	</div>
	<div class="mb-3">
		<small>
            Entrer votre email, et nous vous enverrons un  
                lien pour réinitialiser votre mot de passe.
		</small>
	</div>

	<button class="btn btn-primary">Send password reset email</button>
	{{ form_end(requestForm) }}
	{{parent()}}
{% endblock %}
