{% extends "connexion/base.html.twig" %}

{% block title %}Hello ConnexionController!
{% endblock %}

{% block form %}

	<h1 class="card-title text-center">Connexion</h1>
    <p class="text-center">Vous n'avez pas de compte ? <a href="{{ path('app_register') }}">Inscrivez-vous</a></p>
	{% if error %}
		<div class="alert alert-danger w-100">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
	{% endif %}
	<form method="post">
		<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
		<div class="mb-3">
			<label for="username" class="form-label">E-mail</label>
			<input type="email" value="{{ last_username }}" class="form-control" id="username" name="_username" autocomplete="email" required autofocus>
		</div>
		<div class="mb-3">
			<label for="password" class="form-label">Mot de passe</label>
			<input type="password" class="form-control" id="password" name="_password" autocomplete="current-password" required>
		</div>
		<div class="mb-3 form-check">
			<input type="checkbox" class="form-check-input" id="remember_me" name="_remember_me">
			<label class="form-check-label" for="remember_me">Se souvenir de moi</label>
		</div>
		<button type="submit" class="btn btn-primary">Se connecter</button>
	</form>
    {{parent()}}
{% endblock %}
