{% extends 'base.html.twig' %}

{% block title %}Hello GestionCongreController!
{% endblock %}
{% block javascripts %}
	<script src="{{ asset('js/vacationFormEdit.js') }}"></script>
{% endblock %}

{% set error_flashes = app.flashes('error') %}

{% block body %}
	<div class="container flex-grow-1 d-flex justify-content-center align-items-center">
		<div class="card w-100">
			<div class="card-body">
				<div class="row justify-content-center align-items-center h-100">
					<div class="col-md-6">
						<select class="form-select" size="7" aria-label="size 7 select example" autofocus disabled>
							{% for atelier in ateliers %}
								<option value="{{atelier.id}}" class="fs-4">
                                    {{atelier.libelle}}
                                </option>
							{% endfor %}
						</select>
					</div>
					<div class="col-md-6" id="list-vacation-form">
						<div id="notif-info">
							{% for flash in app.flashes('success') %}
								<div class="alert alert-success w-100" id="notif-info">{{ flash }}</div>
							{% endfor %}
							{% if error_flashes|length > 0 %}
								<div class="alert alert-danger">
									{% for error in error_flashes %}
										<p>{{ error }}</p>
									{% endfor %}
								</div>
							{% endif %}
						</div>
						{% include "gestion_congre/form/vacationForm.html.twig"  with {'show': true, 'id': vacationid} %}
					</div>
				</div>
			</div>
		</div>

	{% endblock %}
