{% extends 'base.html.twig' %}

{% block title %}Hello InscriptionController!{% endblock %}

{% block body %}
    {{ form_start(form) }}
    <h3>{{ form_label(form.ateliers) }}</h3>
    <div class="row">
        <div class="col-md-4">
            {% for atelier in form.ateliers %}
                {% if loop.index % 3 == 1 %}
                    {{ form_widget(atelier) }}
                    {{ form_label(atelier) }}
                {% endif %}
            {% endfor %}
        </div>
        <div class="col-md-4">
            {% for atelier in form.ateliers %}
                {% if loop.index % 3 == 2 %}
                    {{ form_widget(atelier) }}
                    {{ form_label(atelier) }}
                {% endif %}
            {% endfor %}
        </div>
        <div class="col-md-4">
            {% for atelier in form.ateliers %}
                {% if loop.index % 3 == 0 %}
                    {{ form_widget(atelier) }}
                    {{ form_label(atelier) }}
                {% endif %}
            {% endfor %}
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}
